body {
  margin: 0;
  font-family: "Inter";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  background-color: #AFD9AE;
}

#map-builder-screen {
  text-align: center;
}

#home-screen-wrapper {
  width: 100%;
  height: 100%;

}
#home-screen {
  width: 100vw;
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
}

#home-menu {
  height: 95vh;
  bottom: 0px;
  margin-top: 5vh;
}

#character-card {
  width: 100%;
}